@charset "utf-8";

.container_new * {font-family:'roboto','opensans','Malgun Gothic','맑은 고딕','Helvetica nenu',Arial, "Apple SD Gothic";}

.title-area {margin-bottom:28px; text-align: center;}
.title-area > h2 { font-size: var(--h2-size); color: #3f4447; line-height: 38px; font-weight: 300;} 
.tit_desc {font-size: 20px; color:#fff; font-weight: 300; word-break: keep-all;}
.tit_desc_sm {margin-top:4px; font-size: var(--text-small); color:#fff; word-break: keep-all;}
.title-area > h2 + .tit_desc {margin-top:12px;}

@media screen and (max-width:899px) {
  .title-area {margin-bottom:20px;}
}

/* 아이콘 */
.icon_logo {display: inline-block; width:204px; height:42px; vertical-align: middle; background: url(../../images/2023/img_logo.png) no-repeat center / 100% auto;}

[class^="icon_cate_"] {display: inline-block; width:80px; height:80px; vertical-align: middle;}
.icon_cate_beauty {background: url('../../images/2023/icon_cate_beauty.svg') no-repeat center / 100% 100%;}
.icon_cate_bags {background: url('../../images/2023/icon_cate_bags.svg') no-repeat center / 100% 100%;}
.icon_cate_apparel {background: url('../../images/2023/icon_cate_apparel.svg') no-repeat center / 100% 100%;}
.icon_cate_electronic {background: url('../../images/2023/icon_cate_electronic.svg') no-repeat center / 100% 100%;}
.icon_cate_equipment {background: url('../../images/2023/icon_cate_equipment.svg') no-repeat center / 100% 100%;}
.icon_cate_home {background: url('../../images/2023/icon_cate_home.svg') no-repeat center / 100% 100%;}
.icon_cate_sports {background: url('../../images/2023/icon_cate_sports.svg') no-repeat center / 100% 100%;}
.icon_cate_food {background: url('../../images/2023/icon_cate_food.svg') no-repeat center / 100% 100%;}
.icon_cate_transport {background: url('../../images/2023/icon_cate_transport.svg') no-repeat center / 100% 100%;}
.icon_cate_tool {background: url('../../images/2023/icon_cate_tool.svg') no-repeat center / 100% 100%;}
.icon_cate_services {background: url('../../images/2023/icon_cate_services.svg') no-repeat center / 100% 100%;}
.icon_cate_etc {background: url('../../images/2023/icon_cate_etc.svg') no-repeat center / 100% 100%;}
.icon_cate_package {background: url('../../images/2023/icon_cate_package.svg') no-repeat center / 100% 100%;}
.icon_cate_chemicals {background: url('../../images/2023/icon_cate_chemicals.svg') no-repeat center / 100% 100%;}

/* 체크박스 */
.inp-check {position: relative; display: inline-block; vertical-align: middle;}
.inp-check input[type="checkbox"] {position: absolute; left:0; opacity: 0; margin:0; }
.inp-check label {display: flex; color: #6f757a; font-size:var(--text-normal );}
.inp-check label::before {content: ""; flex:0 0 auto; display:inline-block; width:20px; height:20px; margin-right:8px; vertical-align: middle; background: url('../../images/2023/inp_check.svg') no-repeat left top / 20px 40px;}
.inp-check input[type="checkbox"]:focus + label::before {outline: auto;}
.inp-check input[type="checkbox"]:checked + label::before {background-position: left bottom;}


/* 상품 박스 ----------------------------*/
.prod-list {display:flex; justify-content: space-between;}
.prod-list > li {position: relative;}
.prod-list::-webkit-scrollbar {position: absolute; left:24px; height:6px;  border-radius: 5px; opacity: 0.5; background-color: rgba(255,255,255,0.1);}
.prod-list::-webkit-scrollbar-thumb { border-radius: 5px; background-color: rgba(0,0,0, 0.3); }
.prod-list .btns-area {margin-top:12px;}
.prod-list .btns-area > button +  button {margin-left:8px}
.prod-list::-webkit-scrollbar-button:horizontal:start:decrement {
  display: block;
  width: 24px;
}
.prod-list::-webkit-scrollbar-button:horizontal:end:decrement {
  display: block;
  width: 24px;
}

[class^="prod-box"] {position:relative; width: 100%; overflow: hidden;}
[class^="prod-box"] .prod_img {display: block; background-color: #fff;}
[class^="prod-box"] .prod_img img {width:100%;}
[class^="prod-box"] .prod_title {display: block; overflow: hidden;}
[class^="prod-box"] .prod_title > em {display:block; overflow: hidden; width:100%; -webkit-line-clamp: 2; -webkit-box-orient: vertical; font-size: 14px; font-style: normal; line-height: 20px; font-size: 14px; font-style: normal; line-height: 20px; text-overflow: ellipsis;}
[class^="prod-box"] .prod_title > em.tit {height:20px; margin-bottom:8px; white-space: nowrap;}
[class^="prod-box"] .prod_title > .prod-price {display:block; margin-top:8px; font-size: 14px;}

.quick_view {display: none; position: absolute; }
.quick_view > a {display: flex; align-items: center; width:50px; height:50px; border-radius: 100%; text-align: center; line-height: 1.2; background-color:#4a36b3;color:#fff;}
.prod-list > li:hover .quick_view {display:block}

.btn-video {display: inline-block; width:60px; height:60px; border:0; background: transparent url(../../images/2023/icon_video.svg) no-repeat 0 top / 100% auto;}
.btn-video:hover {background-position: 0 bottom;}

.btn-wish {display:inline-block; width:32px; height:32px; padding:0; border:0; cursor: pointer; background: url(../../images/2023/icon_wish.svg) no-repeat 0 bottom / 100% auto;}
.btn-wish.active,
.btn-wish:hover {background-position: 0 top;}
.btn-cart {display:inline-block; width:32px; height:32px; padding:0; border:0; cursor: pointer; background: url(../../images/2023/icon_cart.svg) no-repeat 0 bottom / 100% auto;}
.btn-cart.active,
.btn-cart:hover {background-position: 0 top;}
.btn-inquiry {display:inline-block; width:32px; height:32px; padding:0; border:0; cursor: pointer; background: url(../../images/2023/icon_inquiry.svg) no-repeat 0 bottom / 100% auto;}
.btn-inquiry.active,
.btn-inquiry:hover {background-position: 0 top;}

/* 모바일 */
@media screen and (max-width:600px) {
  .btn-wish,
  .btn-inquiry,
  .btn-cart {width:20px; height:20px;}
}


/* 상품 박스 - ai */
.prod-box {display:block;}
.prod-box .prod_img { aspect-ratio: 1 / 1;} 
.prod-box .prod_title { position:absolute; bottom:0; left:0; right:0; padding:12px 8px; background-color: rgba(4, 4, 4, 0.3);}
.prod-box .prod_title > em {height:40px; color:#fff;}
.prod-box .prod_title > em.tit {color: #fff;}
.prod-box + .quick_view {right:12px; top:12px;}

/* 상품 박스 - interested */
.prod-box-sm {display:flex; gap:16px; align-items: flex-start;}
.prod-box-sm .prod_img {flex:0 0 auto; border:2px solid transparent;  aspect-ratio: 1 / 1; box-sizing: border-box;} 
.prod-box-sm .prod_img img {aspect-ratio: 1 / 1;}
.prod-box-sm .prod_title {width: 100%;}
.prod-box-sm .prod_title > em {height:60px; -webkit-line-clamp: 3; color: #6f757a;}
.prod-box-sm .prod_title > em.tit {color: #3f4447;}
.prod-box-sm + .quick_view {top:50%; transform: translateY(-50%); left:40px;}    
.prod-list > li:hover .prod-box-sm .prod_img {border: 2px solid #4a36b3; /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.16); */} 


/* 상품 박스 - video */
.prod-box-video {display:block; height:100%;}
.prod-box-video .prod_img {position: relative; width:100%; height:100%;} 
.prod-box-video .prod_img::after {content:""; position: absolute; top:0; right:0; bottom:0; left:0; display: block; background-color: rgba(4, 4, 4, 0.3);}
.prod-box-video .prod_title {display:none; position:absolute; bottom:0; left:0; right:0; padding:16px 12px;}
.prod-box-video .prod_title > em {height:40px; color:#fff;}
.prod-box-video .prod_title > em.tit {color: #fff;}
.prod-box-video .btn-video,
.prod-box-video + .btn-video {position: absolute; z-index: 5; top:50%; left:50%; transform: translate(-50%, -50%);}
.prod-list > li:hover .prod-box-video .prod_title {display: block;}
.prod-list > li:hover .btn-video {background-position: 0 bottom;}

/* 상품 박스 - new */
.prod-box-new {display:block;}
.prod-box-new .prod_img {flex:0 0 auto; aspect-ratio: 1 / 1; box-sizing: border-box;} 
.prod-box-new .prod_img img {aspect-ratio: 1 / 1;}
.prod-box-new .prod_title {width: 100%; padding:16px 0 0;}
.prod-box-new .prod_title > em {height:60px; -webkit-line-clamp: 3; color: #6f757a;}
.prod-box-new .prod_title > em.tit {color: #3f4447;}
.prod-box-new + .quick_view {right:16px; top:16px;}


/* 모바일 */
@media screen and (max-width:600px) {
  .prod-list > li:hover .quick_view {display: none;}
  .btn-video {width:30px; height:30px;}
  .prod-box-video .prod_title {padding:8px;}
}


/* 상단 메인 영역 ---------------------------------------*/

.main_visual_wrap {transition: background-color 1s;}

/* 메인 배너 */
.main_visual_new {position: relative; overflow: hidden; padding-bottom:40px;}
.main_visual_new .swiper-slide {width:1136px; padding:0 20px; box-shadow: 0px 80px 20px -60px rgba(0, 0, 0, 0.35);}
.main_visual_new .swiper-slide img {width:100%; border-radius: 20px;}
.main_visual_new .swiper-slide .for-mobile {display: none;}

.main_visual_pager {display: flex; justify-content: flex-end; position: absolute; z-index: 10; left:50%; bottom: 40px; width:100%; max-width:1136px; padding:12px; box-sizing: border-box;  transform: translateX(-50%); color:#6f757a;  }
.main_visual_pager .pager_box {display: flex; align-items: center; position: relative; width:200px; height:44px;border-radius: 22px; background-color: rgba(0,0,0,0.15);}
.main_visual_pager button {display: inline-block; height:30px; padding:0; cursor: pointer; border:0; background-color: transparent;}
.main_visual_pager .pager_ctrl {position: relative; flex: 1; height:30px;}
.main_visual_pager .swiper-pagination {position: static; line-height: 30px;}
.main_visual_pager .swiper-pagination .swiper-pagination-current {color:#fff;}
.main_visual_pager .swiper-pagination .swiper-pagination-total {color:#6f757a;}

.main_visual_pager .swiper-button-prev,
.main_visual_pager .swiper-button-next {top:0; margin-top:0;}
.main_visual_pager .autoplay_ctrl {height:30px; margin-right:12px;}
.main_visual_pager .swiper-button-prev:after, 
.main_visual_pager .swiper-button-next:after {font-size:12px; color:#fff; font-weight: bold;}

.main_visual_pager .btn-sw-play {display: none; width:24px; height:30px; background: url(../../images/2023/btn-sw-play.svg) no-repeat center / 12px 16px ;}
.main_visual_pager .btn-sw-stop {width:24px; height:30px; background: url(../../images/2023/btn-sw-stop.svg) no-repeat center / 12px 16px ;}

@media screen and (max-width:1135px) {
  .main_visual_new {padding-bottom:50px;}
  .main_visual_new .swiper-slide {padding:0; box-shadow: none;}
  .main_visual_new .swiper-slide img {border-radius: 0;}
  .main_visual_pager {bottom:10px; padding:0 24px;}
  .main_visual_pager .pager_box {width:150px; height:30px;}
}

@media screen and (max-width:720px) {
  .main_visual_new .swiper-slide .for-pc {display: none;}
  .main_visual_new .swiper-slide .for-mobile {display: block;}
  
}

/* ai --------------------- */
.sec_aiRecommends {padding:40px 0 0;}
.sec_aiRecommends .inner {max-width: var(--max-width); margin:0 auto; padding:0 24px;}
.sec_aiRecommends h2 {text-align: left; color:#fff;}
.sec_aiRecommends .sub_tit {margin-bottom:16px; font-size:16px; color:#0ad4d4; text-align: center; }
.title-ai {position: relative; overflow: hidden; flex:1; width:100%; min-width: 184px;}
.ai-visual {position: relative; width: 100%; height:100%;  box-sizing: border-box;}
.ai-visual .tit {position: relative; z-index: 10; padding-top:15%; color:#fff; font-size: var(--text-large); font-weight: 300; line-height: 1.3; text-align: center;}
.ai-visual .tit .icon_logo {width:80%; max-width:204px; aspect-ratio: 204 / 42; margin-bottom:20px;}

.showcase_ai .prod-list {display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap:8px;}
.showcase_ai .prod-box {width:100%; max-width:240px;}
.showcase_ai .btn-inquiry {background-image: url(../../images/2023/icon_inquiry_w.svg);}
.showcase_ai .btn-cart {background-image: url(../../images/2023/icon_cart_w.svg);}

.banner_wrap {padding:60px 0;}
.banner_wrap > .inner {display: flex; gap:20px; justify-content: space-between; max-width: var(--max-width); margin:0 auto;  padding:0 24px;}
.banner_wrap > .inner img {width:100%;}

/* Pc */
@media screen and (min-width:1001px) {
  .ai-block {display: flex; gap:20px; flex-direction: row-reverse; justify-content: space-between; padding:16px; border: 10px solid rgba(0,0,0,0.3); background: url(../../images/2023/bg_ai_pc.png) no-repeat right bottom / 58.59% auto ;}
  .title-ai .img {display: none;}
  .showcase_ai {width:70%; max-width: 984px;}
  .showcase_ai .prod-list .prod_title > em {height:20px; -webkit-line-clamp: 1; -webkit-box-orient: vertical; white-space: nowrap;}
  .showcase_ai .prod-list .btns-area {display:none; position: absolute; top:64px; right:23px;}
  .showcase_ai .prod-list .btns-area > button {display: block; margin:0;}
  .showcase_ai .prod-list .btns-area .btn-cart {margin-top:8px;}
  .showcase_ai .prod-list li:hover .btns-area {display: block;}
}

/* 모바일 */
@media screen and (max-width:1000px) {
  .sec_aiRecommends {padding:30px 0  68px;}
  .sec_aiRecommends .inner {padding:0;}
  .sec_aiRecommends h2 {text-align: center; font-size: 22px;}
  .ai-block {display: block;}
  .title-ai {width:90%; max-width: 312px; height:223px; margin:0 auto 30px;}
  .ai-visual {border: 10px solid rgba(0,0,0,0.3);}
  .ai-visual .tit {padding-top:32px; font-size:16px;}
  .ai-visual .tit .icon_logo {width:90px; height:19px; margin-bottom:8px;}
  .title-ai .img {position: absolute; width:100%; left:50%; bottom:10px; transform: translate(-50%);}
  .title-ai .img img {width:100%;}
  .showcase_ai .prod-list {display: flex; gap:12px; overflow-x: auto; padding:0 24px 48px;}
  .showcase_ai .prod-box {width:200px;}
  .showcase_ai .prod-list .prod_title > em:not(.tit) {height:60px; -webkit-line-clamp: 3;}
  .showcase_ai .btns-area {margin-top:0;}
  .showcase_ai .btns-area > button {width:20px; height:20px;}
  
  
}

@media screen and (max-width:1000px) {
  .showcase_ai .prod-box {width:141px;}
  .showcase_ai .prod-box > .prod_title {position: static; padding:12px 0; background-color: transparent;}

  .banner_wrap {padding:10px 0; background-color: #fff;}
  .banner_wrap > .inner {flex-direction: column; gap:10px; padding:0;}
} 

/* 전시관 --------------------- */
.sec_mainProd {padding:120px 0 80px; background:linear-gradient(#221957 0 41.8%, #F0F2F5 41.8% 100%);}
.sec_mainProd .inner {display: flex; gap:40px; max-width: 1280px; margin:0 auto; padding:0 24px;}
.sec_mainProd .inner > * {flex:1;}
.sec_mainProd .prod_head {height:300px; margin-bottom:-117px; padding:36px 40px 0; box-sizing: border-box; background-repeat: no-repeat; background-size: auto 300px;}
.sec_mainProd .prod_head h2 {color:#fff;}
.sec_mainProd .prod_head .tit_desc_sm {text-align: center; font-size:14px;}
.sec_mainProd .title-area {margin-bottom:0;}
.sec_mainProd .prod-list {flex-wrap: wrap; gap:20px; justify-content: space-between;}
.sec_mainProd .prod-list > li {width:calc(50% - 10px);}

.main-product-area,
.main-service-area {background-repeat: no-repeat; background-size: auto 300px;}

@media screen and (min-width:1002px) {
  .sec_mainProd .btn-inquiry {background-image: url(../../images/2023/icon_inquiry_w.svg);}
  .sec_mainProd .btn-cart {background-image: url(../../images/2023/icon_cart_w.svg);}
  .sec_mainProd .prod-list .btns-area {display:none; position: absolute; top:64px; right:23px;}
  .sec_mainProd .prod-list .btns-area > button {display: block; margin:0;}
  .sec_mainProd .prod-list .btns-area .btn-cart {margin-top:8px;}
  .sec_mainProd .prod-list li:hover .btns-area {display: block;}
}

@media screen and (max-width:1001px) {
  .sec_mainProd .prod-box .prod_title {position: static; padding:11px 0; background-color: transparent;}
  .sec_mainProd .prod-box .prod_title > em {color: #6f757a;}
  .sec_mainProd .prod-box .prod_title > em.tit {color: #3f4447;}

  .sec_mainProd .prod-list > li .btns-area {display: block; margin-top:0;}
}

/* 모바일 */
@media screen and (max-width:600px) {
  .sec_mainProd {padding:0;}
  .sec_mainProd .inner {display: block; padding:0;}
  .sec_mainProd .prod_head {height:150px; margin-bottom:-70px; padding:24px 50px 0; background-size: 100% auto;}
  .sec_mainProd .title-area {position: absolute; top:40px; left: 0; right:0;}
  .sec_mainProd .prod_head .tit_desc {margin-top:10px; padding:0 60px; line-height: 1.2; font-size:16px;}
  .sec_mainProd .prod_head .tit_desc_sm {margin-top:0;}

  .main-product-area,
  .main-service-area {position: relative; padding:135px 24px 40px; background:linear-gradient(#221957 0 39%, #F0F2F5 39% 100%);}

}

[class^="sec_prod"] {padding:80px 24px;}
.btn-more {display: inline-block; padding-right:16px; color: #888e94; font-size: 14px; background: url(../../images/2023/icon_arr.svg) no-repeat right 0 center / 16px 16px;} 

@media screen and (min-width:601px) {
  .btn-more {position: absolute; top:-28px; right:0;}
}

@media screen and (max-width:600px) {
  [class^="sec_prod"] {padding:40px 24px;}

  .btn-more {position: static; margin-top:19px;}
  .btn-more {display: block; height:36px; padding:0; line-height: 36px; border:1px solid #dce1e6; border-radius: 18px; text-align: center; background: none;}
  .btn-more::after {content: ' '; display: inline-block; width:20px; height:20px; vertical-align: middle; background: url(../../images/2023/icon_arr_line.svg) no-repeat right 0 center / 100% 100%;}
}


/* 관심 상품 -------------------- */
.sec_prod_interested > .inner {max-width: var(--max-width); margin:0 auto;}

.choice-wrap {position: relative; display: flex; justify-content: center; margin-bottom:12px;}
.btn-choice {display: inline-block; width:115px; height:47px; padding:0 40px 0 16px; border: 1px solid #dce1e6; border-radius: 30px;     font-size: 16px; text-align: left; color: #5a5f63; cursor: pointer; background: #fff url('../../images/2023/icon_search_combo.svg') no-repeat right 16px center / 16px 16px;}
.btn-choice.on {background-image: url('../../images/2023/icon_combo_close.svg');}
.choice-layer {display:none; position: absolute; top:60px; z-index:10; width:100%; max-width:400px; padding:24px; box-sizing: border-box; box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16); background-color: #fff;}
.choice-layer .area-btns {text-align: center;}
.choice-layer .btn-select-sort {display:inline-block; height:37px; padding:0 16px; border: 1px solid #dce1e6; border-radius: 18.5px; color: #888e94; cursor: pointer; background-color: #fff;}
.choice-layer > ul > li + li {margin-top:12px;}
.choice-layer .btn-choice-close {position: absolute; right:0; top:0; display: inline-block; width:28px; height:28px; border: 0; cursor: pointer; background: url(../../images/2023/icon_close.svg) no-repeat center / 16px 16px;}

.sec_catagory {padding:26px 0;}
.sec_catagory .cate_title_area {display:flex; align-items: center; justify-content: center; margin-bottom:24px;}
.sec_catagory .cate_title_area .icon_area {margin-bottom:8px;}
.sec_catagory .cate_title_area .cata_tit {margin-left:12px; font-size:18px;}
.sec_catagory .showcase {position: relative; padding-top:22px; border-top:1px solid #eff0f1;}
.sec_catagory .showcase .prod-list {display: grid;  grid-template-columns:repeat(4, 24.06%); grid-gap:16px 1.25%;}
.sec_catagory .showcase .prod-list .btns-area {position:absolute; left:148px; bottom:0;}
.sec_catagory .showcase .prod-box-sm .prod_img {flex:0 0 auto; max-width:132px; min-width:86px;}
.sec_catagory .showcase .btn-more {position: absolute; top:-28px; right:0;}


@media screen and (max-width:1150px) {
  .sec_catagory .showcase .prod-list {grid-template-columns:repeat(2, 48.75%);}
}

@media screen and (max-width:600px) {
  .sec_catagory .showcase .prod-list {display:block;}
  .sec_catagory .showcase .prod-list li + li {margin-top:20px;}
  .sec_catagory .showcase .prod-list li:nth-child(n+5) {display: none;}
  .sec_catagory .showcase .prod-box-sm .prod_img {width:86px;}
  .sec_catagory .showcase .prod-box-sm .prod_title > em:not(.tit) {height:36px; line-height:18px;  -webkit-line-clamp: 2;}
  .sec_catagory .showcase .prod-box-sm .prod_title > em.tit {margin-bottom:4px}
  .sec_catagory .showcase .prod-list .quick_view {display: none;}
  .sec_catagory .showcase .prod-list .btns-area {left:102px;}
  .sec_catagory .showcase .btn-more {position: static; margin-top:19px;}

  .choice-wrap.open {position: fixed; top:0; right:0; bottom:0; left:0; z-index: 10001; display: block; margin-bottom: 0; overflow: auto; background-color: #fff;}
  .choice-wrap.open .btn-choice.on {position: sticky; top:0; z-index: 10; display: block; width:100%; height:40px; border:0; border-radius: 0; color:#fff; pointer-events: none; background: #4A36B3 none;}
  .choice-wrap.open .choice-layer {position: static; max-width:100%; box-shadow: none;}
  .choice-wrap.open .choice-layer .area-btns {margin-top:20px;}
  .choice-wrap.open .choice-layer .btn-select-sort {display: block; width:100%;}
  .choice-wrap.open .choice-layer .btn-choice-close {position: fixed; width:40px; height:40px; z-index: 11;}
}

/* video ---------------------------*/
.sec_prod_video {padding-left:0; padding-right: 0; background-color: var(--main-color);}
.sec_prod_video .inner {max-width: 1280px; margin:0 auto;}
.sec_prod_video .title-area h2 {padding:0 24px; color:#fff;}

.sec_prod_video .showcase {padding:0 24px; overflow-x:auto;}
.sec_prod_video .showcase::-webkit-scrollbar {width: 5px; height:6px;  border-radius: 5px; opacity: 0.5; background-color: #fff;}
.sec_prod_video .showcase::-webkit-scrollbar-thumb { border-radius: 5px; background-color: #39298A; }
.sec_prod_video .showcase .prod-list {display: block; overflow: hidden; min-width:640px; padding-bottom:35px;}
.sec_prod_video .showcase .prod-list li {float: left;}
.sec_prod_video .showcase .prod-list li:nth-child(1) {width:32%; aspect-ratio: 41 / 64;}
.sec_prod_video .showcase .prod-list li:nth-child(1) img {position: relative; left:50%; width:auto; height:100%; transform: translateX(-50%);}
.sec_prod_video .showcase .prod-list li:nth-child(2),
.sec_prod_video .showcase .prod-list li:nth-child(5) {width:24.21875%; max-width: 310px; aspect-ratio: 1 / 1;}
.sec_prod_video .showcase .prod-list li:nth-child(3),
.sec_prod_video .showcase .prod-list li:nth-child(4) {width:40.625%; aspect-ratio: 52 / 31;}
.sec_prod_video .showcase .prod-list li:nth-child(3) img,
.sec_prod_video .showcase .prod-list li:nth-child(4) img {position: relative; top:50%; width:100%; height:auto; transform: translateY(-50%);}
.sec_prod_video .showcase .prod-list li:nth-child(n+2) {margin-left:1.5625%;}
.sec_prod_video .showcase .prod-list li:nth-child(n+4) {margin-top:1.5625%;}

@media screen and (max-width:500px) {
  .sec_prod_video .showcase::-webkit-scrollbar {display: none;}
}

/* area ---------------------------------*/
.tab-wrap {overflow: hidden; max-width: 940px; margin:0 auto 20px;}
.tab-list {display: flex; min-width: 640px;}
.tab-list > li {flex:1; padding:0 10px}
.btn-tab {display:block; width:100%; height:48px; line-height:48px; padding:0 12px; border-radius: 24px; box-sizing:border-box; font-size: 14px; text-align: center; color: #a8adb3; white-space: nowrap; overflow:hidden; background-color: #EFF0F1;}
.tab-list > li.on .btn-tab {font-weight: 300; color: #fff; background-color: #6045e6;}
.tab-cont {display: none;}
.tab-cont.on {display:block;}

.sec_prod_world {padding-left:0; padding-right:0;}
.sec_prod_world .inner {max-width: var(--max-width); margin:0 auto;}
.sec_prod_world .title-area {padding:0 24px;}
.world_visual {display: none; margin-bottom:20px;}
.img-world {display:block; max-width:872px; margin:0 auto;}
.sec_prod_world .showcase .prod-list {display: grid; grid-gap:20px 12px; grid-template-columns: repeat(3, calc(33.333% - 8px));}
.sec_prod_world .showcase .prod-list .btns-area {position: absolute; bottom:20px; left:196px;}
.sec_prod_world .showcase .prod-box-sm {align-items: center;}
.sec_prod_world .showcase .prod-box-sm .prod_img {overflow: hidden; width:180px; border-radius: 100%;}
.sec_prod_world .showcase .prod-box-sm .prod_title {padding-bottom:46px;}
.sec_prod_world .showcase .prod-box-sm + .quick_view {left:65px;}

@media screen and (max-width:1279px) {
  .sec_prod_world .showcase {padding:0 24px;}
}

@media screen and (min-width:940px) {
  .world_visual {display: block;}
}

@media screen and (min-width:600px) and (max-width:1279px) {
  .sec_prod_world .showcase .prod-list {grid-template-columns: repeat(2, calc(50% - 6px));}
  .sec_prod_world .showcase .prod-list .btns-area {bottom:10px; left:166px;}
  .sec_prod_world .showcase .prod-box-sm {align-items: flex-start;}
  .sec_prod_world .showcase .prod-box-sm .prod_img {width:150px;}
  .sec_prod_world .showcase .prod-box-sm .prod_title {padding-bottom:0;}
  .sec_prod_world .showcase .prod-box-sm + .quick_view {left:50px;}
}

@media screen and (max-width:599px) {
  .tab-list > li {padding:0 5px;}
  .tab-list > li:first-child {padding-left:24px;}
  .tab-list > li:last-child {padding-right:24px;}
  .sec_prod_world .showcase .prod-list .btns-area {bottom:0; left:102px;}
  .sec_prod_world .showcase .prod-list {display:block;}
  .sec_prod_world .showcase .prod-list li + li {margin-top:20px;}
  .sec_prod_world .showcase .prod-box-sm {align-items: flex-start;}
  .sec_prod_world .showcase .prod-box-sm .prod_img {flex:0 0 auto; width:86px;}
  .sec_prod_world .showcase .prod-box-sm .prod_title {padding-bottom:0;}
  .sec_prod_world .showcase .prod-box-sm .prod_title > em:not(.tit) {height:36px; line-height:18px; -webkit-line-clamp: 2;}
  .sec_prod_world .showcase .prod-box-sm .prod_title > em.tit {margin-bottom:4px}
}

/* new products --------------------------------------*/
.sec_prod_new {background-color: #F0F2F5;}
.sec_prod_new .inner {max-width: var(--max-width); margin:0 auto;}
.sec_prod_new .title-area br {display:none}
.sec_prod_new .showcase {position: relative; margin-top:44px;}
.sec_prod_new .showcase .prod-list {gap:20px;}
.sec_prod_new .showcase .prod-list > li {flex:1; overflow-x:hidden}

@media screen and (max-width:800px) {
  .sec_prod_new .showcase .prod-list {display:grid; grid-gap:20px; grid-template-columns: repeat(3, calc(33.333% - 13.33px));}
}

@media screen and (max-width:500px) {
  .sec_prod_new .title-area br {display:block}
  .sec_prod_new .showcase .prod-list {display:grid; gap:20px; grid-template-columns: repeat(2, calc(50% - 10px))}
}

/* bottom-banner -----------------------------------------*/

.bottm-banner {background: #39298A url(../../images/2023/brn_online.png) no-repeat center / auto 100%;}
.bottm-banner .onlinebanner_wrap {display: flex; align-items: center; height:200px; max-width: var(--max-width); margin:0 auto;}
.bottm-banner .onlinebanner_wrap .brn_logo {width:200px}
.bottm-banner .onlinebanner_wrap > a {display: block; width:100%; text-align: center;}
.bottm-banner .onlinebanner_wrap > a .tit {display: block; margin-top:var(--gap-small);  font-size:30px; line-height: 1; color:#fff}
.bottm-banner .onlinebanner_wrap > a .txt {display: block; margin-top:var(--gap-small); font-size:18px; color:#fff}

@media screen and (max-width:500px) {
  .bottm-banner .onlinebanner_wrap {height:100px;}
  .bottm-banner .onlinebanner_wrap .brn_logo {width:67px}
  .bottm-banner .onlinebanner_wrap > a .tit {font-size:22px;}
  .bottm-banner .onlinebanner_wrap > a .txt {font-size:14px;}
}

